//Fonts
$raleway-font: 'Raleway', Arial, sans-serif;
$montserrat-font: 'Montserrat', Arial, sans-serif;

//Pokemon label colors
$white: #fff;
$gray: #BDBDBD;
$blue: #3F51B5;
$normal-type-color: #9E9E9E;
$fighting-type-color: #d50000;
$flying-type-color: #9575cd;
$poison-type-color: #6200EA;
$ground-type-color: #FBC02D;
$rock-type-color: #F57F17;
$bug-type-color: #8BC34A;
$ghost-type-color: #7E57C2;
$steel-type-color: #B39DDB;
$fire-type-color: #EF6C00;
$water-type-color: #1565C0;
$grass-type-color: #388E3C;
$electric-type-color: #FFD600;
$psychic-type-color: #D81B60;
$ice-type-color: #82B1FF;
$dragon-type-color: #00897B;
$dark-type-color: #5D4037;
$fairy-type-color: #F06292;
